
.navbar{
        background-color: rgb(43, 42, 42); 
        height: 50px;
}

.linkbutton{
    text-decoration: none;
}

.navbar a{
    color: white;
}

a_link{
    color: white;

}
#a_link:hover{
    color: black;
}

.nav-link:hover{
    color: black;
    background-color: rgb(91, 192, 222);
}


    
