
<app-navbar-logged></app-navbar-logged>

<div style="min-height: 550px;height: auto; bottom: 0px;">
    <div class="container mt-4" >
        <h1>Leave applications :</h1>
        <table class="table">
            <thead>     
            <tr>
                <th class="col">Name</th>
                <th class="col">reason</th>
                <th class="col">from date</th>
                <th class="col">to date</th>
                <th class="col">Status</th>
                <th class="col">Options</th>
                
            </tr>
            </thead>
            <tbody>
                <tr *ngFor="let leave of leaveArray">
            
                    <td>{{leave.name}}</td>
                    <td>{{leave.reason }}</td>
                    <td>{{leave.from_date }}</td>
                    <td>{{leave.to_date }}</td>
                    <td>{{leave.status }}</td>
        
                    <td>
                        <button type="button" class="btn btn-success me-2" (click)="set_approve(leave)">Approve</button>                     
                        <button type="button" class="btn btn-danger me-2" (click)="set_reject(leave)">Reject</button>
                    </td>
                </tr>            
            </tbody>
        </table> 
        <div class="container mt-4 py-3" >
            <app-admin-piechart></app-admin-piechart> 
        </div>
         
    </div>
</div>
<app-footer></app-footer>
