#signup_container{
    background-color: #9A616D;
    background-image: url("/assets/bg2.jpg");
    background-size: cover;
    height: auto;
    
}
#signup_title{
    color: white;
    background-color: rgb(0, 0, 0, 0.7);
}